* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    background-color: #0c44ed;
    font-style: italic;
}

.container, .linha {
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: #0c44ed;
}

.container, .linha2 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header li {
    margin-left: 15px;
    display: inline;
    list-style: none;
    color: #fff;
}

a {
    font-weight: bold;
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

section .container {
    margin-top: 24px;
}

.container img {
    margin-bottom: 18px;
}

section .texto-sobre {
    font-style: italic;
    margin-bottom: 150px;
}

section .linha {
    border-bottom: 2px solid #0c44ed;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}

section .linha2 {
    border-bottom: 2px solid #0c44ed;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.produtos div h2 {
    color: #0c44ed;
}

.grid-produto {
    display: flex;
    justify-content: space-between;
}

.grid-produto li {
    flex: 0 0 calc(25% - 10px);
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.Produtos div img {
    width: 250px;
}

.grid-produto a {
    color: black;
    margin-bottom: 10px;
}

div ul label {
    color: #4F4F4F;
    margin-bottom: 10px;
}

div li {
    list-style: none;
}

button {
    color: #fff;
    background-color: #0c44ed;
    padding: 5px 40px;
    cursor: pointer;
    margin: 0;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

.container {
    max-width: 768px;
    width: 100%;
}

.linha2 {
    max-width: 95%; 
}

.sobre-loja .container {
    display: block;
}

.sobre-loja img {
    width: 100%;
}

.produtos div img {
    grid-template-columns: repeat(2, 49%);
    width: 200px;
}

section .produtos {
    grid-template-columns: repeat(2, 49%);
}

.grid-produto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-produto li {
    flex: 0 0 calc(50% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.grid-produto li img {
    width: 100%;

}


}

@media screen and (max-width: 767px) {

    button {
        padding: 10px;
    }

    header li {
        display: flex;
      
    }

    .linha2 {
        max-width: 95%; 
    }

    .container {
        max-width: 767px;
        width: 90%;
    }
    
    .sobre-loja .container {
        display: block;
    }
    
    .sobre-loja img {
        width: 100%;
    }
    
    .produtos div img {
        grid-template-columns: repeat(1, 98%);
        width: 200px;
    }
    
    section .produtos {
        grid-template-columns: repeat(1, 98%);
    }
    
    .grid-produto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .grid-produto li {
        flex: 0 0 calc(100% - 10px);
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .grid-produto li img {
        width: 100%;
    
    }
}

